
body {
  margin: 0;
  padding: 0;
  font-family: palatino, serif;
  background-color: #fff;
  color: #333;
}

.navbar {
  background-color: #040720;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #E5E4E2;
  font-size: 35px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #E5E4E2;
  font-size: 17px;
  font-weight: bold;
}

.nav-links a.active,
.nav-links a:hover {
  color: #B8BC86;
}

.page-section {
  padding: 60px 80px;
}

.photo-row {
  display: flex;
  gap: 20px;
  margin-top: 25px;
  justify-content: center;
}

.img-portrait {
  width: 250px;
  height: 330px;
  object-fit: cover;
  border-radius: 15px;
}

.skills-row {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
}

.skill-card {
  width: 260px;
  text-align: center;
}

.icon-square {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.3s;
}

.icon-square:hover {
  transform: scale(1.1);
}

.anchor-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #040720; /* Dark blue background */
  color: #E5E4E2 !important; /* Light text color */
  text-decoration: none; /* Remove underline */
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.anchor-btn:hover {
  background-color: #B8BC86; /* Hover color */
  color: #000 !important; /* Change text to black on hover */
}

.bottom-nav {
  margin: 30px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}

.bottom-nav a {
  text-decoration: none;
  color: #040720;
  font-weight: bold;
}

.bottom-nav a:hover {
  color: #B8BC86;
}

.footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 25px 10px;
  margin-top: 60px;
}

.footer-subtext {
  font-size: 14px;
  opacity: 0.8;
}

.footer-line {
  width: 50%;
  border: none;
  height: 1px;
  background-color: #666;
  margin: 12px auto;
}

.video-row {
  display:flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom:30px;
  flex-wrap: wrap;
}

.video-row video {
  max-width: 38%;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  object-fit: cover;
}

.highlight-row {
  background-color: #FFFACD !important;
  font-weight: bold;
}

.highlight-row td {
  border-color: #FFC000;
}

table {
  box-shadow: 0 0 0 4px #040720;
  border-collapse: separate;
  border-spacing:0;
  border: 1px solid #040720;
}

table th, table td {
  border: 1px solid #040720;
  vertical-align: middle;
}

table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

table tbody tr:hover {
  background-color: #B8BC86;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

table td:last-child {
  white-space: nowrap;
}


.marquee-container {
  width: 60%;
  height: 30px;
  margin: 20px 0 30px 0;
  overflow: hidden; 
  position: relative;
  border: 1px solid #040720;
  border-radius: 5px;
  background-color: #E5E4E2;
}

.marquee-text {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 30px; 
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #040720;
  white-space: nowrap; 
  
transform: translateX(100%);
}

@keyframes marquee-in-out {
  0% { transform: translateX(100%); }
  10% { transform: translateX(0); }
  80% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.custom-audio-container {
  text-align:center;
  margin-top: 120px;
  margin-bottom: 30px;
}

.custom-audio-player {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 2px solid #040720;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.audio-btn {
  background-color: #040720;
  color: #E5E4E2;
  border: none;
  padding: 8px 15px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: bold;
  font-family: palatino, serif;
  transition: background-color 0.3s;
}

.audio-btn:hover {
  background-color: #B8BC86;
  color: #040720;
}

.audio-status {
  font-size: 14px;
  font-weight: bold;
  color: #040720;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.video-logo-container {
  text-align: center;
  margin: 20px auto; 
  max-width: 200px;
  display: inline-block;
}

#music-logo-gif {
  width: 110%; 
  height: 200px; 
  object-fit: cover; 
  object-position: center;
  display: block;

  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.audio-video-group{
  display: block;
  max-width: 250px;
  margin: 0 auto;
  padding-top: 15px;
}